.article {
  font-family: Montserrat;
  background: rgb(255, 255, 255);
  font-style: normal;
  font-weight: normal;
  padding: 10px 15px;
}
.article__title {
  font-size: 26px;
  line-height: 30px;
  color: #000000;
}
.article__content {
  display: block;
  font-size: 16px;
  line-height: 20px;
  color: #575454;
}
.article__auth {
  font-size: 16px;
  line-height: 22px;
  font-weight: 700;
  color: #000000;
}
.news {
  margin-top: 25px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px 25px;
}
.homepage {
  font-family: Montserrat;
  background: rgb(213, 209, 209);
  padding: 44px 100px 46px 100px;
}
.homepage__header {
  display: flex;
  justify-content: center;
}
.homepage__search {
  display: flex;
  justify-content: center;
}
.loading {
  text-align: center;
  font-size: 32px;
  font-weight: bold;
}
.about {
  font-size: 22px;
  font-weight: bold;
}
